<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      th:with="menu='recurring_expenses'">
<head>

    <title>Expense Tracker :: Recurring Expenses</title>

    <th:block th:remove="all">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>
        <script src="https://use.fontawesome.com/c2480015ef.js"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../../static/vendor/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="../../static/assets/css/custom.css" rel="stylesheet"/>
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <h1 class="page-header">Recurring Expense</h1>

    <div class="table-responsive">
        <div class="pull-right">
            <a href="edit.html" th:href="@{/recurring_expenses/123}" class="btn btn-primary btn-xs">Add</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Due Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Period</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense : ${recurringExpenseList}">
                <td th:text="${#temporals.format(expense.nextDueDate,'dd.MM.yyyy')}">01.05.2017</td>
                <td th:text="${expense.description}">Electricity</td>
                <td th:text="${expense.amount} + ' ' + ${expense.currency}">49.99 EUR</td>
                <td th:text="${expense.recurrencePeriod}">Yearly</td>
                <td><a href="edit.html" th:href="@{/recurring_expenses/} + ${expense.id}"
                       class="btn btn-primary btn-xs">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
