<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      th:with="menu='recurring_expenses'">
<head>

    <title>Expense Tracker :: Recurring Expenses</title>

    <th:block th:remove="all">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>
        <script src="https://use.fontawesome.com/c2480015ef.js"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../../static/vendor/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="../../static/assets/css/custom.css" rel="stylesheet"/>
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <h1 class="page-header">Recurring Expense</h1>

    <div class="table-responsive">
        <div class="pull-right">
            <a href="recurring_expenses_form.html.html" th:href="@{/recurring_expenses/new}" class="btn btn-primary btn-xs"><i class="fa fa-plus" ></i> Add</a>
        </div>


        <div id="summary-table"><table id="expenses-table" class="table table-striped" th:replace="~{/recurring_expenses/summary_table}"></table></div>

    </div>
</div>
<script layout:fragment="page-script">

</script>

</body>
</html>
