<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      th:with="menu='recurring_expenses'">
<head>

    <title>Expense Tracker :: Recurring Expenses</title>

    <th:block th:remove="all">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>
        <script src="https://use.fontawesome.com/c2480015ef.js"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../../static/vendor/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="../../static/assets/css/custom.css" rel="stylesheet"/>
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <h1 class="page-header">Recurring Expense</h1>

    <div class="table-responsive">
        <div class="pull-right">
            <a href="recurring_expenses_form.html.html" th:href="@{/recurring_expenses/new}" class="btn btn-primary btn-xs"><i class="fa fa-plus" ></i> Add</a>
        </div>
        <table id="expenses-table" class="table table-striped">
            <thead>
            <tr>
                <th>Due Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Period</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense : ${recurringExpenseList}" >
                <td th:href="@{/recurring_expenses/details/} + ${expense.id}" th:text="${#temporals.format(expense.nextDueDate,'dd.MM.yyyy')}">01.05.2017</td>
                <td th:text="${expense.description}">Electricity</td>
                <td th:text="${expense.amount} + ' ' + ${expense.currency}">49.99 EUR</td>
                <td th:text="${expense.recurrencePeriod}">Yearly</td>
                <td class="actions" ><a href="recurring_expense_form.html" th:href="@{/recurring_expenses/delete/} + ${expense.id}"
                                        class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Delete</a>
                <a href="recurring_expense_form.html" th:href="@{/recurring_expenses/details/} + ${expense.id}"
                       class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a></td>
            </tr>
            </tbody>
        </table>



    </div>
</div>
<script layout:fragment="page-script">
    $("#expenses-table tr").click(function() {
        window.location = $(this).find('td:eq(0)').attr("href");
    });
    $("#expenses-table tr").addClass("selectable")

    jQuery(document).ready(function($) {
        $("#search-form").submit(function(event) {

            // Prevent the form from submitting via the browser.
            event.preventDefault();
            searchViaAjax();

        });
    });

    function searchAjax() {
        var data = {}
        data["query"] = $("#query").val();

        $.ajax({
            type : "POST",
            contentType : "application/json",
            url : "${home}search/api/getSearchResult",
            data : JSON.stringify(data),
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                console.log("SUCCESS: ", data);
                display(data);
            },
            error : function(e) {
                console.log("ERROR: ", e);
                display(e);
            },
            done : function(e) {
                console.log("DONE");
            }
        });
    }

</script>

</body>
</html>
