<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="formControl(fieldId, fieldRef, placeholder, required)">
<div th:id="${fieldId} + '-container'" class="form-group"
     th:classappend="${#fields.hasErrors(fieldId)}? has-error">
    <label th:for="${fieldId}" class="control-label"><span layout:fragment="label-content"
                                                           th:remove="tag">The Label</span><span class="required"
                                                                                                 th:if="${required}">*</span>
    </label>
    <span layout:fragment="input-content"
          th:remove="tag">
        <input type="text" class="form-control" th:id="${fieldId}" th:placeholder="${placeholder}"
               th:name="${fieldId}" th:value="${fieldRef}" th:required="${required}"/>
    </span>
    <span class="help-block" th:if="${#fields.hasErrors(fieldId)}">fehler:
        <div th:each="err : ${#fields.errors(fieldId)}" th:text="${err}"/>
    </span>
</div>
</body>
</html>