<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'recurring_expenses')}">
<head>

    <title>Expense Tracker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="https://use.fontawesome.com/c2480015ef.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/vendor/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../../static/assets/css/custom.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../static/vendor/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/vendor/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<h1 class="page-header">Recurring Expense</h1>
<form action="#" th:action="@{/recurring_expenses}" th:object="${recurringExpense}" method="post">
    <input type="hidden" id="systemId" th:name="systemId" th:field="*{systemId}"/>

    <div class="form-group" th:classappend="${#fields.hasErrors('description')}? has-error">
        <label for="description" class="control-label">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" th:field="*{description}"/>
        <span class="help-block" th:if="${#fields.hasErrors('description')}">
           <div th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
        </span>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('label')}? has-error">
        <label for="label" class="control-label">Label</label>
        <input type="text" class="form-control" id="label" placeholder="Label" th:field="*{label}"/>
        <span class="help-block" th:if="${#fields.hasErrors('label')}">
           <div th:each="err : ${#fields.errors('label')}" th:text="${err}"/>
        </span>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('nextDueDate')}? has-error">
        <label for="nextDueDate" class="control-label">Next due date</label>
        <input type="text" class="form-control" id="nextDueDate" placeholder="dd.mm.yyyy" th:name="nextDueDate"
               th:value="*{#dates.format(nextDueDate, 'dd.MM.yyyy')}"/>
        <span class="help-block" th:if="${#fields.hasErrors('nextDueDate')}">
           <div th:each="err : ${#fields.errors('nextDueDate')}" th:text="${err}"/>
        </span>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('recurrencePeriod')}? has-error">
        <label for="recurrencePeriod" class="control-label">Recurrence period</label>
        <select id="recurrencePeriod" class="form-control" th:field="*{{recurrencePeriod}}">
            <option th:each="period : ${T(de.roamingthings.expenses.ui.expense.RecurrencePeriod).values()}"
                    th:selected="${period == T(de.roamingthings.expenses.ui.expense.RecurrencePeriod)}"
                    th:value="${{period}}"
                    th:text="#{${'recurrencePeriod.' + period}}">Wireframe
            </option>
        </select>
        <span class="help-block" th:if="${#fields.hasErrors('recurrencePeriod')}">
           <div th:each="err : ${#fields.errors('recurrencePeriod')}" th:text="${err}"/>
        </span>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('expenseType')}? has-error">
        <label for="expenseType" class="control-label">Expense type</label>
        <select id="expenseType" class="form-control" th:field="*{{expenseType}}">
            <option th:each="expenseType : ${T(de.roamingthings.expenses.ui.expense.ExpenseType).values()}"
                    th:selected="${expenseType == T(de.roamingthings.expenses.ui.expense.ExpenseType)}"
                    th:value="${{expenseType}}"
                    th:text="#{${'expenseType.' + expenseType}}">Wireframe
            </option>
        </select>
        <span class="help-block" th:if="${#fields.hasErrors('expenseType')}">
           <div th:each="err : ${#fields.errors('expenseType')}" th:text="${err}"/>
        </span>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('amount')}? has-error">
        <label for="amount" class="control-label">Amount</label>
        <div class="input-group">
            <input type="text" class="form-control" id="amount" placeholder="x.xx EUR" th:field="*{amount}"/>
            <input type="text" class="input-group-addon form-control" id="currency" placeholder="EUR"
                   th:field="*{currency}"/>
        </div>
        <span class="help-block" th:if="${#fields.hasErrors('amount')}">
           <div th:each="err : ${#fields.errors('amount')}" th:text="${err}"/>
        </span>
        <span class="help-block" th:if="${#fields.hasErrors('currency')}">
           <div th:each="err : ${#fields.errors('currency')}" th:text="${err}"/>
        </span>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('creditorName')}? has-error">
        <label for="creditorName" class="control-label">Creditor</label>
        <input type="text" class="form-control" id="creditorName" placeholder="Creditor name"
               th:field="*{creditorName}"/>
        <span class="help-block" th:if="${#fields.hasErrors('creditorName')}">
           <div th:each="err : ${#fields.errors('creditorName')}" th:text="${err}"/>
        </span>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('note')}? has-error">
        <label for="note" class="control-label">Note</label>
        <textarea class="form-control" rows="3" id="note" th:field="*{note}"></textarea>
        <span class="help-block" th:if="${#fields.hasErrors('note')}">
           <div th:each="err : ${#fields.errors('note')}" th:text="${err}"/>
        </span>
    </div>

    <div class="pull-right">
        <button type="submit" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>
